<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.egovernment">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.sensor.proximity"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TextGram.SendMessage"></activity>
        <activity android:name=".QuizOfKings.StartOverOrFinish" />
        <activity android:name=".PDFConverter.SelectingImage" />
        <activity android:name=".AccountTurnover.DefiningDateRange" />
        <activity android:name=".TextGram.TextGramMActivity" />
        <activity
            android:name=".TextGram.TextGramActivity"
            android:label="@string/title_activity_text_gram"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AccountTurnover.AccountTurnoverEntry" />
        <activity android:name=".AccountTurnover.AccountTurnover" />
        <activity android:name=".CardToCard.GoToTheMainPageActivity" />
        <activity android:name=".CardToCard.EnsuringActivity" />
        <activity android:name=".CardToCard.CardToCardActivity" />
        <activity android:name=".AgeDetectionActivity" />
        <activity android:name=".ColorsGame.LevelOneActivity" />
        <activity android:name=".ColorsGame.ColorsGameActivity" />
        <activity android:name=".Dictionary.DictionaryActivity" />
        <activity android:name=".QuizOfKings.QuizOfKingsActivity" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".Library.LibraryActivity" />
        <activity android:name=".ThirdActivity" />
        <activity android:name=".AccelerometerActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>